/node_modules/
/dist/
.DS_Store
*.local
.env
backend/localdb/*.json
!backend/localdb/applications.json
!backend/localdb/rules.json
!backend/localdb/agents.json
!backend/localdb/.gitkeep
.pytest_cache
__pycache__
*.pyc
coverage
*.tsbuildinfo
vite.config.js
vite.config.d.ts
tailwind.config.js
tailwind.config.d.ts
